:root {
    --title-color: #212121;
    --main-text-color: #757575;
    --accent-color: #2196F3;
    --background-color: #2F303A;
    --black-color: #000000;
    --white-color: #ffffff;
    --btn-hover-color: #188CE8;
    --footer-contact-color: rgba(255, 255, 255, 0.6);
    --background-btn-portpholio: #F5F4FA;
    --border-bottom-color: #ECECEC;
    --team-background-color: #F5F4FA;
    --portfolio-card-border-color: #EEEEEE;
    --hero-bg-gradient:rgba(47, 48, 58, 0.4);
    --social-link-icon-color:#AFB1B8;
    --icon-bg-color:rgba(255, 255, 255, 0.1);
}


body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
} 

h1,h2,h3,h4,h5,h6,p {
    margin-top: 0;
    margin-bottom: 0;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.list {
    list-style: none;
    margin: 0;
    padding: 0;
}


/* header section */

.header {
    padding-top: 24px;
    padding-bottom: 25px;
    border-bottom: 1px solid var(--border-bottom-color);
}

.header-list {
    display: flex;
    align-items: center;
}


.logo {
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    font-weight: 700;
    color: var(--accent-color);
    text-decoration: none;
}

.header-logo-accent {
    color: var(--black-color);
}

.nav-list {
    display: flex;
    margin-left: 93px;
    gap: 50px;
}


.nav-link {
    font-weight: 500;
    color: var(--title-color);
    text-decoration: none;
}

.current {
    color: var(--accent-color);
}

.nav-link:hover,
.nav-link:focus {
    color: var(--accent-color);
    transition: color 0.2s ease;
}

.contact-list {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.contact-item {
    margin-right: 50px;
}

.contact-item:last-child {
    margin-right: 0;
}

.mail-icon {
    margin-right: 10px;
    fill: currentColor;
}

.mail-link {
    display: flex;
    font-weight: 500;
    color: var(--main-text-color);
    text-decoration: none;
}

.mail-link:hover,
.mail-link:focus {
    color: var(--accent-color);
    transition: color 0.2s ease;
}

.phone-link {
    display: flex;
    font-weight: 500;
    color: var(--main-text-color);
    text-decoration: none;
}

.phone-icon {
    margin-right: 10px;
    fill: currentColor;
}

.phone-link:hover,
.phone-link:focus {
    color: var(--accent-color);
    transition: color 0.2s ease;
}

/* Hero section */

.hero {
    background-image:linear-gradient(var(--hero-bg-gradient), var(--hero-bg-gradient)), url(../image/hero-bgr.jpg);
    background-size: 1600px 600px;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
}


.hero-title {
    width: 696px;
    margin: 0 auto 30px auto;
    
    font-size: 44px;
    font-weight: 900;
    line-height: 1.4;
    color: var(--white-color);
    text-transform: uppercase;
}

.btn {
    font-family: inherit;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.9;
    color: var(--white-color);
    background-color: var(--accent-color);
    padding: 10px 32px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

.btn:hover {
    background-color: var(--btn-hover-color);
}

 
/* features */

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.features-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.features-icon-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;

    width: 270px;
    height: 120px;
    background-color: var(--background-btn-portpholio);
}

.feature-item {
    width: 270px;
}


.we-do-list {
    list-style: none;
}

.features-list-title {
    margin-bottom: 10px;

    font-weight: 700;
    color: var(--title-color);
}

.features-descr {
    line-height: 1.7;
}

/* we do */

.we-do {
    padding-bottom: 94px;
}

.we-do-title {
    margin-bottom: 50px;

    font-size: 36px;
    font-weight: 700;
    line-height: 1.17;
    color: var(--title-color);
    text-align: center;
}

.we-do-list {
    display: flex;
    gap: 30px;
}

.we-do-item {
    width: calc((100%-60px)/2);
}


.we-do-img {
    display: block;
}

/* team section */

.team {
    background-color: var(--team-background-color);
}

.team-title {
    margin-bottom: 50px;

    font-size: 36px;
    font-weight: 700;
    color: var(--title-color);
    text-align: center;
}

.team-list {
    display: flex;
    gap: 30px;
}

.team-item {
    width: calc((100%-120px) / 4);
    text-align: center;
    /* border-bottom: 1px solid #000; */

    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background-color: var(--white-color);
}


.team-img {
    display: block;
    margin-bottom: 30px;
}

.team-member {
    margin-bottom: 10px;

    font-size: 16px;
    font-weight: 500;
    color: var(--title-color);
}

.job-title {
    margin-bottom: 30px;
    font-size: 16px;
}

.social-list {
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.social-link {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 44px;
    height: 44px;
    border-radius: 50%;
    color: var(--social-link-icon-color);
    background-color: var(--icon-bg-color);
}

.social-icon {
    fill: currentColor;
}

.social-link:hover,
.social-link:focus {
    background-color: var(--accent-color);
}

.social-link:hover .social-icon,
.social-link:focus .social-icon {
    fill: var(--white-color);
}


/* ----------partners-------------- */


.partners {
    padding-top: 94px;
    padding-bottom: 94px;
    text-align: center;
}

.partners-title {
    margin-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--title-color);
}

.partners-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.partners-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    border: 1px solid var(--social-link-icon-color);
    border-radius: 4px;
    color: var(--social-link-icon-color);
}

.partners-icon {
    width: 106px;
    height: 60px;
    fill: currentColor;
}

.partners-link:hover,
.partners-link:focus {
    border-color: var(--accent-color);
    fill: var(--accent-color);
}

.partners-link:hover .partners-icon,
.partners-link:focus.partners-icon {
    fill: var(--accent-color);
}


/* footer */

.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background: var(--background-color);
}

.footer-container {
    display: flex;
    align-items: center;
}

.footer-contact {
    margin-right: 70px;
}

.footer-logo {
    display: block;
    margin-bottom: 20px;

    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    font-weight: 700;
    color: var(--accent-color);
    text-decoration: none;
}

.footer-logo-accent {
    color: var(--white-color);
}

.address {
    font-style: normal;
}

.address-item {
    margin-bottom: 9px;
}

.address-item:last-child {
    margin-bottom: 0;
}


.address-link {
    line-height: 1.7;
    color: var(--white-color);
    text-decoration: none;
}

.address-link:hover,
.address-link:focus {
    color: var(--accent-color);
    transition: color 0.2s ease;
}

.footer-mail {
    line-height: 1.7;
    color: var(--footer-contact-color);
    text-decoration: none;
}

.footer-mail:hover,
.footer-mail:focus {
    color: var(--accent-color);
    transition: color 0.2s ease;
}

.footer-tel {
    line-height: 1.7;
    color: var(--footer-contact-color);
    text-decoration: none;
}

.footer-tel:hover,
.footer-tel:focus {
    color: var(--accent-color);
    transition: color 0.2s ease;
}

.footer-social-title {
    margin-bottom: 20px;

    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white-color);
}


.footer-icon {
    color: var(--white-color);
}


/* Портфолио */

.portfolio-btn-list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    gap: 9px;
}


.portfolio-btn {
    font-family: inherit;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.6;
    color: var(--title-color);
    border-radius: 4px;
    background-color: var(--background-btn-portpholio);
    border: none;
    padding: 6px 23px;
    cursor: pointer;
}

.portfolio-btn:hover,
.portfolio-btn:focus {
    background-color: var(--accent-color);
    color: var(--white-color);
    transition: color 0.2s ease;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.portfolio-item {
    width: calc((100% - 60px) / 3);
}


.portfolio-link {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

.portfolio-link:hover,
.portfolio-link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.works-title {
    margin-bottom: 4px;

    font-size: 18px;
    font-weight: 700;
    line-height: 2;
    color: var(--title-color);
}

.works-descr {
    font-size: 16px;
    line-height: 1.9;
}

.portfolio-img {
    display: block;
}

.portfolio-descr {
    padding: 20px 24px;
    border-bottom: 1px solid var(--portfolio-card-border-color);
    border-left: 1px solid var(--portfolio-card-border-color);
    border-right: 1px solid var(--portfolio-card-border-color);
}